# Virtual environment
.venv/
venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Logs and temp files
*.log
*.tmp

# IDE/editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Secrets or environment variables
.env
